@import '../../theme/theme';

html {
  scroll-snap-type: y mandatory;
}

.read-progress {
  position: fixed;
  left: 0;
  right: 0;
  height: 10px;
  background-color: #d63384 !important;
  top: 0;
}

.about {
  background: $color-secondary;
}

.resume {
  background: $color-tertiary;
}

.projects {
  background: $color-quaternary;
  color: $font-light;
}

.contact {
  background: $color-fifth-gradient;
  color: $font-light;
}
