html {
    scroll-snap-type: y mandatory;
}

.read-progress {
    position: fixed;
    left: 0;
    right: 0;
    height: 10px;
    background-color: #d63384 !important;
    top: 0;
}

section {
    padding: 45px;
}

.cover-container {
    max-width: 42em;
}
