html {
  color: #031F19;
}

body {
  margin: 20px;
  background: radial-gradient(circle, #D3FDED 50%, #BDF1E1FF 100%);
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'LEMONMILK Bold', sans-serif;
  color: #031F19;
}

p {
  font-family: 'Repsodent', cursive;
  width: 100%;
  font-size: 3rem !important;
}
