$indicator-number: 5;
$indicator-top: 50dvb;
$indicator-right: var($spacing);

$indicator-size: 1em;
$indicator-padding: calc((var($min-tap-size) - var($indicator-size)) / 2);
$indicator-clipped-margins: var($indicator-padding) * 2;
$indicator-total-size: calc(var($indicator-size) + var($indicator-padding) * 2);

$indicator-gap: var($min-tap-space);
$indicator-total-gap: calc(var($indicator-gap) * (var($indicator-number) - 1));

$indicator-total-height: calc(var($indicator-total-size) * var($indicator-number) + var($indicator-total-gap) - var($indicator-clipped-margins));

$indicator-translate-y: calc(var($indicator-total-height) - var($indicator-size));
